<form [formGroup]="contactForm">
  <app-input
    label="First Name"
    [control]="contactForm.get('firstName')"
  ></app-input>
  <app-input
    label="Last Name"
    [control]="contactForm.get('lastName')"
  ></app-input>
  <app-input label="Company" [control]="contactForm.get('company')"></app-input>
  <app-input label="Email" [control]="contactForm.get('email')"></app-input>
  <app-input label="Phone" [control]="contactForm.get('phone')"></app-input>
  <app-input label="Address" [control]="contactForm.get('address')"></app-input>
</form>

<!-- <div><b>Form Contents</b>: {{ contactForm.value | json }}</div>
<div><b>Form is valid</b>: {{ contactForm.valid }}</div>
<div><b>Errors</b>: {{ contactForm.controls.email.errors | json }}</div> -->
