<div class="container">
  <div class="table-wrapper">
    <ngb-alert
      *ngIf="successMessage"
      [dismissible]="true"
      type="success"
      (close)="successMessage = false"
    >
      <strong>Woo-hoo!</strong> Your contacts have been successfully updated.
    </ngb-alert>
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Contacts</b></h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-success" (click)="open(formModal, null)">
            <span
              ><fa-icon [icon]="faPlusCircle"></fa-icon> Create Contact</span
            ></a
          >
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="nodata" [hidden]="collectionSize > 0">
          <td colspan="7">
            <i><fa-icon [icon]="faUser"></fa-icon></i>No Contacts
          </td>
        </tr>
        <tr
          *ngFor="
            let contact of contactArr
              | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
          "
        >
          <td class="nowrap">{{ contact.firstName }} {{ contact.lastName }}</td>
          <td>{{ contact.company }}</td>
          <td>{{ contact.email }}</td>
          <td class="nowrap">{{ contact.phone }}</td>
          <td>{{ contact.address }}</td>
          <td>
            <a (click)="open(formModal, contact)" class="edit action-icons">
              <i
                ><fa-icon
                  placement="top"
                  ngbTooltip="Edit"
                  [icon]="faEdit"
                ></fa-icon></i
            ></a>
            <a (click)="open(deleteModal, contact)" class="delete action-icons"
              ><i
                ><fa-icon
                  placement="top"
                  ngbTooltip="Delete"
                  [icon]="faTrash"
                ></fa-icon></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="clearfix">
      <!-- Pagination -->
      <div class="hint-text">
        Showing <b>{{ showing() }}</b> of <b>{{ collectionSize }}</b> records
      </div>
      <div class="pagination">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="page"
          [pageSize]="pageSize"
        >
        </ngb-pagination>

        <select
          class="custom-select"
          style="width: auto;"
          [(ngModel)]="pageSize"
        >
          <option [ngValue]="2">2 items per page</option>
          <option [ngValue]="5">5 items per page</option>
          <option [ngValue]="10">10 items per page</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #formModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Contact</h4>
    <button
      type="button"
      class="close"
      (click)="modal.dismiss()"
      aria-hidden="true"
    >
      &times;
    </button>
  </div>
  <div class="modal-body">
    <app-contact-form #form [contact]="contact"></app-contact-form>
  </div>
  <div class="modal-footer">
    <input
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss()"
      value="Cancel"
    />
    <input
      type="submit"
      class="btn btn-info"
      (click)="save(modal, form.contactForm)"
      value="Save"
      [disabled]="!form.contactForm.valid"
    />
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>
  <form>
    <div class="modal-header">
      <h4 class="modal-title">Delete Contact</h4>
      <button
        type="button"
        class="close"
        (click)="modal.dismiss()"
        aria-hidden="true"
      >
        &times;
      </button>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete:
        <b>{{ contact.firstName }} {{ contact.lastName }}</b
        >?
      </p>
      <p class="text-warning"><small>This action cannot be undone.</small></p>
    </div>
    <div class="modal-footer">
      <input
        type="button"
        class="btn btn-default"
        (click)="modal.dismiss()"
        value="Cancel"
      />
      <input
        type="submit"
        class="btn btn-danger"
        (click)="delete(modal)"
        value="Delete"
      />
    </div>
  </form>
</ng-template>
