<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <input
      class="input form-control"
      [formControl]="control"
      [ngClass]="{ 'is-invalid': showErrors() }"
    />
  </div>
  <ng-container *ngIf="showErrors()">
    <div class="text-danger" *ngIf="control.errors.required">
      Value is required.
    </div>
    <div class="text-danger" *ngIf="control.errors.email">
      A Valid email is required.
    </div>
  </ng-container>
</div>
